Package: [[name]]
Version: [[version]]
Section: admin
Priority: optional
Architecture: all
Depends: java-runtime
Maintainer: Pierre Carrier <pierre@gcarrier.fr>
Description: CLI client for the Linode API v4
Distribution: development
